.wp-optin-dialog-container {
  z-index: 10000;
  width: 420px;
  max-width: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #eae9ea, #eeedee);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px 10px 20px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 20px #888888;
}

.wp-optin-dialog-container .wp-optin-dialog-body {
  display: flex;
  flex-direction: row;
}

.wp-optin-dialog-container .wp-optin-dialog-icon {
  flex-shrink: 0;
  flex-basis: 64px;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 20px;
}

.wp-optin-dialog-container .wp-optin-dialog-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wp-optin-dialog-container .wp-optin-dialog-text .wp-optin-dialog-title {
  font: bold 16px arial;
  margin-bottom: 15px;
}

.wp-optin-dialog-container .wp-optin-dialog-text .wp-optin-dialog-message {
  font: 12px arial;
}

.wp-optin-dialog-container .wp-optin-dialog-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.wp-optin-dialog-container .wp-optin-dialog-powered-by {
  flex-grow: 1;
  align-self: flex-end;
  font: 10px arial;
  color: #333;
  opacity: 0.8;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-decoration: none;
  margin-right: .5em;
}

.wp-optin-dialog-container .wp-optin-dialog-button {
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  background: #fff;
  text-decoration: none;
  font: 15px arial;
  color: #333;
  text-align: center;
  display: flex;
  min-width: 5em;
  padding: .25em .5em;
}

.wp-optin-dialog-container .wp-optin-dialog-button label {
  cursor: inherit;
  margin: auto;
}

.wp-optin-dialog-container .wp-optin-dialog-button.wp-optin-dialog-positiveButton {
  border-color: #46a4f3;
  color: white;
  background-image: linear-gradient(to bottom, #62b3f4, #0486f6);
  margin-left: .5em;
}

.wp-optin-dialog-container .wp-optin-dialog-close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  background-image: url('close.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
